# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Craig Bruenderman
	email = craig@bruenderman.org
[core]
	excludesFile = /Users/craigb/.gitignore
